.Card {

  .ItemName {
    color: olivedrab !important;
    font-size: 15px !important;
    margin: 10px 0;

    span {
      color: #24688b !important;
    }
  }

  .CardImg {
    padding: 15px 0;
  }

  .dataTitle {
    color: midnightblue !important;
  }

  .dateNumber {
    font-weight: bold !important;
    color: limegreen !important;
  }

  .descriptionAuthor {
    font-weight: bold;
    color: lightseagreen !important;
  }

  .price {
    color: black !important;

    span {
      color: orangered !important;
      font-weight: bold;
    }
  }

  .ratingTitle {
    color: goldenrod !important;

    span {
      color: lightseagreen !important;
    }
  }

}
