.Card {


  .ItemName {
    color: olivedrab !important;
    font-size: 15px !important;
    margin: 10px 0;

    span {
      color: #24688b !important;
    }
  }

  .CardImg {
    height: 60% !important;
    padding: 15px 0;
  }

  .dateNumber {
    font-weight: bold;
    color: limegreen !important;
  }

  .descriptionAuthor {
    font-weight: bold;
    color: lightseagreen !important;
  }


}


